Temp/
models/
model/
Dictionaries/
Spark-TTS/example/
Spark-TTS/pretrained_models/
Spark-TTS/speech/
Spark-TTS/test/
Qwen3-TTS/examples/
Qwen3-TTS/Qwen3-TTS-12Hz-1.7B-Base
*.pyc
__pycache__/
node_modules/
dist/
.venv/
venv/
*.egg-info/
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
